html {
    width: 100%;
    min-height: 100%;
    /* background-color: #f8f8ff; */
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

main {
    font-family: 'Chicle', cursive;
}

body {
    position: relative;
    min-height: 100vh;
}

title {
    display: none;
  }
/* here I am toggling the input form until the add button is clicked */
/* #form {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    border-style: solid;
    border-width: 2px;
    border-color: whitesmoke;
    padding-top: 200px;
    padding-bottom: 900px;
    padding-left: 200px;
    padding-right: 100px;
    scroll-padding-bottom: 200px;
    background-color: whitesmoke;
    position: sticky;
    align-content: flex-start;
} */

button.add-project {
    display: block;
}

.icon {
    font-family: 'Rubik Glitch', cursive;
    /* color:  #f76cf7; */
    color: black;
    font-size: 500%;
    box-sizing: 20%;
    display: flex;
    position: fixed;
    top: 0;
    /* left: 0; */
    padding-left: 3%;
    padding-top: 1%;
    padding-right: 3%;
    margin-right: 3%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap; 
    text-decoration: none; 
    padding-inline-end: 2%; 
}

#icon-wrap {
    content: "";
    display: block;
    margin: 0%;
    /* font-size: 1000%; */
}

/* Here I am setting up an effect that will execute when I hover over my links */

.nav-bar {
    display: inline-block;
    font-size: 200%;
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
    padding-inline: 2%;
    width: 95vw;
    position: fixed;
    overflow-x:hidden;
    overflow-y: hidden;

}

.nav-bar-elem {
    margin-left: 5%;
    margin-right: 2%;
    margin-top: 2%;
    color: black;
}

.nav-bar-elem:link, .nav-bar-elem:visited {
    text-decoration: none;
}

.icon:link, .icon:visited {
    text-decoration: none;
}

.nav-bar-elem:hover, .nav-bar-elem:active {
    justify-content:space-around;
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    transform: scale(1.5);
    transition: all ease 500ms;
    text-decoration: none;
}

.icon:hover, .icon:active {
    justify-content:space-around;
    display: block;
    font-family: 'Rubik Glitch', cursive;
    transform: scale(1.2);
    transition: all ease 500ms;
    text-decoration: none;
}



#add-project {
    display:inline-block;
    /* padding:0.35em 1.2em; */
    border:0.1em solid black;
    /* margin:0 0.3em 0.3em 0; */
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 200%;
    color: whitesmoke;
    background-color:black;
    text-align:center;
    transition: all 0.2s;
    position: fixed;
    right: 3%;
    bottom: 3%;
}

#title {
    width: 32%;
    padding: none;
    margin: none;
}

#grade {
    width: 11.5%;
}

#add-project:hover {
    border:0.1em solid black;
    color: black;
    background-color:whitesmoke;
}

@media all and (max-width:30em){
    #add-project {
        display:block;
        margin:0.4em auto;
    }
}

#delete-project {
    border:0.1em solid black;
    margin:0 0 0 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 30%;
    color: whitesmoke;
    background-color:black;
    text-align: flex-end;
    transition: all 0.2s;
    height: 10%;
}

#delete-project:hover {
    border:0.1em solid black;
    color: black;
    background-color:whitesmoke;
    justify-content: flex-end;
	align-items: flex-end;
	align-content: flex-end;
    flex-wrap: nowrap;
    display: inline-block;
}

p {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 200%;
    width: 400;
    overflow-x: hidden;
}

.title {
    display:flex;
    align-content:space-between;
    align-items: center;
    justify-content: space-between;
    /* font-family:'Chicle', cursive; */
    font-family: 'Bangers', cursive;
    font-size: 400%;
    margin: none;
    font-variant: normal;
}



#projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 75vh;
    overflow-x: hidden;
}

#form {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 20%;
    bottom: 12.5%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding-top:125px;
    padding-bottom:125px;
    padding-left:150px;
    padding-right:150px;
    text-transform: uppercase;
}

footer {
    /* display: flexbox;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: flex-end;
    color: black; */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    font-family: 'Chicle', cursive;
    color: black;
    font-size: 150%;
    overflow-x: hidden;
}

.project-box {
    margin: 3%;
    width: 400px;
    display: flex;
    flex-direction: column;
    overflow-x:hidden
}

.content-grid {
	display: flex;
	flex-direction: row-reverse;
	/* flex-wrap: wrap; */
	justify-content: space-evenly;
	align-items: center;
    padding-top: 200px;
    width: 100vw;
    overflow-x: hidden;
    text-transform: uppercase;
}

iframe {
    border-radius: 0.4em; 
    overflow: hidden;
}

input {
    padding-top: 10px;
}

#page-headline {
    font-family: 'IBM Plex Sans', sans-serif;
    color:black;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap; 
    text-decoration: none; 
    margin-top: 200px;
    padding-left: 2%;
    font-size: 2000%;
    position: fixed;

}

/* #background {
    background-color: whitesmoke;
    width: 100vw;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: flex-start;
    z-index: 100;
} */

/* .header-box {
    position: fixed;
    background-color: whitesmoke;
} */

/* display: none;
flex-direction: column;
position: fixed;
right: 20%;
bottom: 12.5%;
border-style: solid;
border-width: 2px;
border-color: black;
padding-top:125px;
padding-bottom:125px;
padding-left:150px;
padding-right:150px;
background-color: white; */